@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

img {
    width: 80%;
    border-radius: 5px;
}

.styled {
    background-color: #7465DA;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 0.5rem;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-bottom: 2em;
    text-decoration: none;
}

.styled:hover {
    background-color: rgb(170, 162, 148);
    color: white;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

// Menu left

/* html{ */


/* height: 100%; */


/* background-color: lightsteelblue; */


/* } */

// aside {
//     position: fixed;
//     width: 200px;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     overflow-x: hidden;
//     z-index: 1;
//     background-color: rgb(243, 243, 243);
// }

/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // background-color: rgb(243, 243, 243);
    padding-top: 20px;
}

.photo-profil {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.photo-profil img {
    width: 70%;
}

// .no_hover {
//     background-color: rgb(243, 243, 243);
// }
// /* Style the sidenav links and the dropdown button */
// .sidenav a,
// .dropdown-btn {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 1.2em;
//     color: #818181;
//     display: block;
//     border: none;
//     background: none;
//     width: 100%;
//     text-align: left;
//     cursor: pointer;
//     outline: none;
// }
// /* On mouse-over */
// .sidenav .style_hover:hover,
// .dropdown-btn:hover {
//     color: white;
//     background-color: #7565da36;
// }
// /* Main content */
// .main {
//     margin-left: 200px;
//     /* Same as the width of the sidenav */
//     font-size: 20px;
//     /* Increased text to enable scrolling */
//     padding: 0px 10px;
// }
// /* Add an active class to the active dropdown button */
// .active {
//     background-color: #7465DA;
//     color: white;
// }
// /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
// .dropdown-container {
//     display: none;
//     background-color: rgb(223, 223, 223);
//     padding-left: 8px;
// }
// /* Optional: Style the caret down icon */
// .fa-caret-down {
//     float: right;
//     padding-right: 8px;
// }
// Burger menu
// .containermenu {
//     display: inline-block;
//     cursor: pointer;
// }
// .bar1,
// .bar2,
// .bar3 {
//     width: 35px;
//     height: 5px;
//     background-color: #333;
//     margin: 6px 0;
//     transition: 0.4s;
// }
// .change .bar1 {
//     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//     transform: rotate(-45deg) translate(-9px, 6px);
// }
// .change .bar2 {
//     opacity: 0;
// }
// .change .bar3 {
//     -webkit-transform: rotate(45deg) translate(-8px, -8px);
//     transform: rotate(45deg) translate(-8px, -8px);
// }