@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';


body {
	background: linear-gradient(45deg, #dfdfdf,#66605f);
	height: 100vh;
	font-family: roboto, sans-serif;
	
  }

