{% block stylesheets %}

            {{ encore_entry_link_tags('app') }} 
           
        {% endblock %}
    
     {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
           {% endblock %}  
           <!-- Footer -->
<footer class="page-footer font-small unique-color-light pt-4 bgfooter">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Inscris toi gratuitement!!!</h5>
      </li>
      <li class="list-inline-item">
        <a href="{{path ("app_register")}}" class="btn btn-outline-white btn-rounded">Inscription toi!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
 

  <!-- Copyright -->
  <div>
  <span class="footer-copyright text-center py-3text-muted color-light">
  CopyRight &copy; 2022
  </span>
  </div>
  <!-- Copyright -->

</footer>
       
 