<div class="sidenav">
  <a href=" {{path("home")}} "> <div class="photo-profil">
	<img src="./image/logo_small.png" alt="">
  </div></a>
 
  <button class="dropdown-btn">Mes flux
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
  
  </div>
  <a href=" {{path("app_logout")}} " class="style_hover">Déconnexion</a>
</div>
