<nav class="navbar navbar-expand navbar-light fixed-top bg-light menu_top skiplinks">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav w-100 justify-content-around">
      <li class="nav-item" id="li-ouv">
        <button class="btn btn-outline-secondary" id="btn-nav-open" >&#9776; <i class="fas fa-sign-in-alt"></i></button>
      </li>
      <li class="nav-item ">
        <a class="nav-link deco_menu " href=" {{ path("espace") }} ">Mon espace</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link deco_menu" href="{{ path("espace")}}#ajouter">Rechercher un nouveau flux</a>
      </li>
    </ul>
  </div>
</nav>