<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
	<div class="container">
		<div class="d-flex align-items-center justify-content-between w-100">
			<a class="navbar-brand" href="{{path ("home")}}">
				<img src="../image/logo_small.png" class="w-50 h-3 m-auto logo-nav" alt="logo de feedytech" ></a>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon text-white"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse text-white" id="navbarCollapse">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="liens">	
				<li class="nav-item mr-1">
					<a href="{{path ("home")}}" class="btn px-3 me-2 nav-link text-white d-flex align-items-center ">Accueil <i class="fas fa-home"></i></a>
				</li>
				{% if is_granted("ROLE_USER") %}
				<li class="nav-item mr-1">
					<a href="{{path ("app_logout")}}" class="btn me-2 nav-link text-white d-flex align-items-center">Deconnexion <i class="fa fa-sign-out-alt"></i> </a>
				</li>
				{% else %}
				<li class="nav-item mr-1">
					<a href="{{path ("app_login")}}" class="btn me-2 nav-link text-white d-flex align-items-center">Connexion <i class="fa fa-sign-in-alt"></i></a>
				</li>
				{% endif %}
			</ul>
		</div>
	<!--/.nav-collapse -->
	</div>
</nav>