<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Votre espace{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheet %} {{ encore_entry_link_tags('espace') }}
        
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('espace') }}
        
		{% endblock %}
		



{% include "nav.html.twig" %}

{% block body %} 

  
    
    <h1>Chargement et affichage d'un flux RSS</h1>
    <hr>
    

    <form method="GET" action="">
      
        <input type="text" name="url" value="">
      
	    <button type="submit">Rechercher</button>
        
    </form>
    

    {{ (flux ?? 'pas de flux')|raw }}



{% endblock %}

</div>
		</body>
	</head>
</html>
