{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h1 class="alert alert-danger">ERREUR 404: page non trouvée</h1>
    <a href="{{ path("home") }}" class="btn btn-outline-primary">
    <i class="fa fa-home"></i>Retour à la page d'accueil</a>
</div>
{% endblock %}


{% block title %}Erreur 404{% endblock %}